# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/public/logos
/backend_tools/__pycache__
/backend_tools/chats
/backend_tools/ai_usage

/CHAT_SYSTEM.md
/CHAT_IMPLEMENTACIJA_SUMMARY.md
/CHAT_KORISNIK_VODICG.md
/AI_LIMITS_STRUCTURE.md

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
