.screen{
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    height: 100vh;
    transition: all 0.2s ease;
    
}

.content{
  display: flex;
  max-width: calc(100% - 200px);
  width: 100%;
  padding: 0px;
  transition: all 0.2s ease;
  overflow: hidden;
}
.content.skupljen{
  max-width: calc(100% - 70px);
}
.content a{
  color: #3b82f6;
}
.child{
  padding: 0px;
  width: 100%;
  max-width: calc(100%);
}
.param{
    width: calc(100% - 60px);
    padding: 10px 30px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.param select {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.param select:hover {
    outline: none;
    border-color: #0AADFF;
}

.param select:focus {
    border-color: #0AADFF;
    outline: none;
    box-shadow: 0 0 5px rgba(10, 170, 255, 0.5);
}

.param option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.param select:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed;
}
.param a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.param a:hover {
    color: #0AADFF;
}

.param a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0AADFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}

.param a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}




.noviTermini {
  width: calc(100% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
}

.noviTermini p {
  margin-top: 10px;
  margin-left: 10px;
}




.button1,
.button2 {
    font-family: 'Poppins', sans-serif;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    transition: background-position 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}

.button1 {
    background: linear-gradient(60deg, #0AADFF 6.25%, #0a7eb8 40.25%, #0088E5 50%, #123484 80.25%);
    background-position: left center;
    background-size: 200% 100%;
    color: white;

}
.button1:hover {
    background-position: right center;
}
.button2 {
    background: linear-gradient(120deg, #0AADFF 6.25%, #0a7eb8 40.25%, #0088E5 50%, #123484 80.25%);
    background-position: right center;
    background-size: 200% 100%;
    color: white;
}
.button2:hover {
    background-position: left center;
}
@media (max-width: 600px) {
  .content{
    padding: 0px;
    margin-left: 72px;
    max-width: calc(100% - 72px);
  }

  .content.skupljen{
    margin-left: 72px;
  }
  .child{
    width: 100%;
  }
  .param select{
    padding: 4px 8px;
    font-size: 14px;
  }
  .button1,
  .button2 {
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: auto;
    padding: 4px 8px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    transition: background-position 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }
}


.prvaSekcija{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: calc(100% - 20px);
  padding: 10px;
  height: 50%;
}

.chartbar{
  flex: 1; 
  height: calc(100% - 20px);
  border: 2px solid black;
  overflow: hidden;
  background-color: #f8fafc;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 320px;
}
.sekcija30{
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stavka{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
  width: calc(100% - 40px);
  min-width: 295px;
  height: calc(80% - 20px);
  background-color: #f8fafc;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 15px;
  padding: 10px 20px;
  transition: all 200ms ease;
  clip-path: inset(0 round 10px);
  overflow: hidden;
}
.stavka div{
  max-width: 50%;
}
.stavka div h2{
  font-weight: 300;
  font-size: 40px;
  color: #3b82f6;
}

.stavka2{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  min-width: 295px;
  background-color: #f8fafc;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 15px;
  padding: 10px 20px;
  transition: all 200ms ease;
  clip-path: inset(0 round 10px);
  overflow: hidden;

  height: calc(20% - 20px);
  flex-direction: row;
  gap: 10px;
}

.logoDiv{
  max-height: 100%;
  max-width: 160px;
  overflow: hidden;
}
.logoDiv img{
  max-height: 70px;
  object-fit: contain;

}

@media (max-width: 770px) {
  .child{
    overflow-y: auto;
    overflow-x: hidden;
  }
  .prvaSekcija{
    flex-direction: column;
    height: auto;
  }
  .sekcija30{
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
  .stavka{
    flex-direction: row;
    height: auto;
    min-width: 0;
  }
  .stavka div{
    width: 45%;
  }
  .stavka2{
    min-width: 0;
  }
}

.loadingScreen{
  min-width: calc(100% - 22px);
  min-height: 100%;
  background-color: #123484;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 1;
  transition: opacity 400ms ease-out, z-index 1s ease-out;
}
.loadingScreen.ucitano{
  opacity: 0;
  z-index: -5;
}